node_modules
.next
.git
.gitignore
*.md
.env*
!.env.example
Dockerfile
.dockerignore
coverage
.nyc_output
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea
.DS_Store
tsc_errors.txt
tsc_all.txt
